@charset "UTF-8";

@import './base';

// header
.header-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 45px;
  overflow: hidden;
  padding: 0 20px;
  background: $viColor;
  color: #fff;
  font-size: 18px;
  line-height: 45px;

  .header-left {
    flex: 1;
    text-align: left;

  }

  .header-title {
    flex: 1;
    text-align: center;
  }

  .header-right {
    flex: 1;
    text-align: right;
  }
}

